
<app-loadin-page *ngIf="loading"></app-loadin-page>
<div *ngIf="!loading" class="container-fluid primary full-screen d-flex" [ngClass]="{'night': hourDay < 5,'morning': 5 <= hourDay && hourDay<10 ,'sun': hourDay >= 10 && hourDay < 17, 'twilight': hourDay >= 17 && hourDay < 20 , 'dark': hourDay >= 20 && hourDay < 24}">
   <div class="city p-4 d-flex flex-column justify-content-between" [ngClass]="
    hourDay >= 10 && hourDay < 17 ? 'chance-color' : 'white'" >
      <div class="weather">
         <strong>The weather</strong>
      </div>
      <div class="info d-flex gap-2" >
         <div class="temp">{{ current.temp_c }}°</div>
         <div class="date d-flex flex-column justify-content-center">
            <div class="city-name">
              {{ location.name }}
            </div>
            <div class="day-info">
               {{ showDate }}
            </div>
         </div>
      </div>
   </div>
   <div class="ms-container p-4">
      <div class="search-bar">
         <div class="form d-flex">
            <input  type="text" placeholder="Search Location..." class="border-0 border-bottom p-2 border-2 me-2 form-control rounded-top" [(ngModel)]="search" (keyup.enter)="getWeather(search)"/>
            <button (click)="getWeather(search)" type="" class="btn btn-outline-success"><i class="fa-solid fa-magnifying-glass"></i></button>
         </div>
         <div class="cities my-4 pb-2 border-bottom border-2" >
            <strong>Cities:</strong>
            <ul>
               <li *ngFor="let city of cities" (click)="getWeather(city)">{{city}}</li>
            </ul>
         </div>
         <div class="deatails border-bottom border-2 pb-2">
            <strong>Weather deatails:</strong>
            <ul>
               <li class="d-flex justify-content-between">Cloudy <span>{{current.cloud}}%</span></li>
               <li class="d-flex justify-content-between">Humidity <span>{{current.humidity}}%</span></li>
               <li class="d-flex justify-content-between">Wind <span>{{current.wind_kph }} km/h</span></li>
            </ul>
         </div>
      </div>
   </div>
</div>

